.main-container {
    /* background-color: rgb(224, 93, 93); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}